* {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(image.jpg);
    background-size: cover;
    font-family: sans-serif;
}

nav {
    width: 100%;
    height: 100px;
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    font-size: 2em;
    color: white;
}
.menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    position: relative;
}
.menu a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid indianred;
    transition: 0.4s linear;
}
.menu a:hover::before {
    width: 90%;
}
.register button {
    background-color: indianred;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    padding: 8px 18px;
    transition: 0.4s;
}
.register button:hover {
    background-color: transparent;
    border: 2px solid indianred;
}
.h-txt {
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.h-txt span {
    letter-spacing: 5px;
}
.h-txt h1 {
    font-size: 3.5em;
}
.h-txt a {
    text-decoration: none;
    background-color: indianred;
    color: white;
    padding: 10px 20px;
    letter-spacing: 4px;
    transition: 0.3s;
}
.h-txt a:hover {
    background-color: transparent;
    border: 3px solid indianred;
}

@media only screen and (max-width: 768px) {
    /* #navbar {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: block;
        margin-top: -30px;
    }
    .logo {
        align-self: flex-start;
        margin-top: 50px;
        z-index: -1;
    }
    .menu {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 50px;
        width: 100%;
        align-items: center;
        position: absolute;
        top: 10px;
        left: 40%;
        position: unset;
    }
    .menu a {
        padding: 14px 30px;
        width: 100%;
        border: 2px solid ;
        padding: 14px 0;
        padding-left: 85%;
        font-size: 40px;
        box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 6px 0px;
    }
    .register button {
        z-index: -1;
        position: absolute;
    }
    .h-txt {
        z-index: -1;
    } */
    #navbar{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }
    .open {
        display:flex;
    }
    .open + .h-txt {
        position: absolute;
        z-index: -1;
    }
    .logo {
        color: white;
        font-size: 50px;
        padding: 20px;
        box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 6px 0px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu a {
        text-decoration: none;
        font-size: 40px;
        color: white;
        padding: 20px 30px;
        width: 100%;
    }
    .menu a:hover {
        box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 6px 0px;
    }
    .register {
        width: 100%;
    }
    .register button {
        padding: 10px 20px;
        font-size: 40px;
        background-color: indianred;
        color: white;
        margin-top: 10px;
    }
    .register button:hover {
        background-color: black;
        border: 2px solid indianred;
    }
    /* Sliding entrances */
    /* @-webkit-keyframes slideInDown {
        from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
        }
    
        to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        }
    }
    @keyframes slideInDown {
        from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
        }
    
        to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        }
    }
    .open {
        -webkit-animation-name: slideInDown;
        animation-name: slideInDown;
        animation-duration: 2s;
      } */

      /* @-webkit-keyframes slideOutUp {
        from {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      
        to {
          visibility: hidden;
          -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
        }
      }
      @keyframes slideOutUp {
        from {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      
        to {
          visibility: hidden;
          -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
        }
      }
      #navbar {
        -webkit-animation-name: slideOutUp;
        animation-name: slideOutUp;
        animation-duration: 2s;
      }*/
 
}

/* #navbar {
    height: 100px;
    transition: height 0.5s ease; 
  }
  
  #navbar.collapsed {
    height: 50px; 
  } */

#menu-icon {
    color: white;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none
} 

@media (max-width: 865px) {
    #menu-icon {
        display: block;
    }

    .menu {
    position: absolute;
    top: 100px;
    right: 0;
    width: 300px;
    height: 40vh;
    /* background-color: white;
    opacity: 0.5; */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all 0.55s ease;
    z-index: 10000;
    }
    
}